@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

$bright-blue: hsl(220, 98%, 61%);
$very-light-gray: hsl(0, 0%, 98%);
$very-light-grayish-blue: hsl(236, 33%, 92%);
$light-grayish-blue: hsl(233, 11%, 84%);
$dark-grayish-blue: hsl(236, 9%, 61%);
$very-dark-grayish-blue: hsl(235, 19%, 35%);

$very-dark-blue: hsl(235, 21%, 11%);
$very-dark-desaturated-blue: hsl(235, 24%, 19%);
$light-grayish-blue: hsl(234, 39%, 85%);
$light-grayish-blue-hover: hsl(236, 33%, 92%);
$dark-grayish-blue: hsl(234, 11%, 52%);
$very-dark-grayish-blue: hsl(233, 14%, 35%);
$very-dark-grayish-blue: hsl(237, 14%, 26%);

body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-rows: 35% auto;
    grid-template-areas: 
        "ha"
        "hb";
    height: 100vh;
    position: relative;
    justify-items: center;
    // align-items: center;
}

.header-banner {
    grid-area: ha;
    position: relative;
}

.todo-container {
    // width: 50%;
    // position: absolute;
    display: flex;
    flex-direction: column;
}

.header-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page-background {
    grid-area: hb;
    background: $very-dark-blue;
    position: relative;
    width: 100%;
}

.main-content {
    position: absolute;
    width: 40%;
}

.header-text {
    font-size: 150%;
    color: $very-light-gray;
    font-weight: 700;
}

.header {
    border: 1px solid white;
    display: flex;
    justify-content: space-between;
}

.img-icon {
    width: 26px;
    height: 26px;
    align-self: center;
}

.todo-input {
    margin-top: 2rem;
    color: $very-dark-desaturated-blue;
    position: relative;
}

.todo-input .current-item {
    background: $very-dark-desaturated-blue;
    width: 100%;
    height: 2.5rem;
    border: none;
    border-radius: 0.2rem;
    font-family: 'Josefin Sans', sans-serif;
    color: $very-light-gray;
    font-size: 150%;
    padding-left: 60px;
    padding-right: 60px;
}

.todo-input .current-item:focus {
    outline: none;
}

.todo-input .check-todo {
    position: absolute;
    top: 6px;
    left: 20px;
}

input[type="text"] {
    -webkit-box-sizing: border-box; // Safari/Chrome, other WebKit
    -moz-box-sizing: border-box;    // Firefox, other Gecko
    box-sizing: border-box;         // Opera/IE 8+
}

input[type="radio"]{
    width: 20px; /*Desired width*/
    height: 20px; /*Desired height*/
    cursor: pointer;
    filter: grayscale(1);
}